<ul>
    <% @genre.songs.each do |song| %>
        <li>
            <h1>
                <a href="/songs/<%=song.slug%>">
                <%=song.name%>
            </h1>
        </li>
    <% end %>
</ul>
<ul>
<% @genre.artists.each do |artist| %>
    <li>
        <a href = "/artists/<%=artist.slug%>">
        <%=artist.name%>
    </li>
<% end %>
</ul>