<ul>
    <% @artist.songs.each do |song| %>
        <li>
            <h1>
                <a href="/songs/<%=song.slug%>">
                <%=song.name%>
            </h1>
        </li>
    <% end %>
</ul>
<ul>
<% @artist.genres.each do |genre| %>
    <li>
        <a href = "/genres/<%=genre.slug%>">
        <%=genre.name%>
    </li>
<% end %>
</ul>